<!DOCTYPE html>
<html lang="en">
<%- include('partials/heade.ejs') %>
<body>
  <div class="principal configD">
    <div class="nome text-center txt-primary">
        <h1>ADAFLIX</h1>
    </div>

    <%- include('partials/navbar.ejs') %>

<br>
<br>
    <div class="container">
        
    
   <div class="categoria txt-primary"><h2>LAMÇAMENTO</h2></div>
    <br>
    <div class="container">
    <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/babilonia.jpg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/shazam 2.jpg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/avatar 2.jpg" class="card-img-top card-2" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/loockwoodd.jpg" class="card-img-top card-2" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/Alice in bordland.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/falcon e witch soldier.jpg" class="card-img-top" alt="...">
            </div>
          </div>
      </div>
      <div class="categoria-1"><a href="">Veja mais</a></div>
    </div>
    <br>
    <div class="container">
        
    
      <div class="categoria txt-primary"><h2>SÉRIES</h2></div>
       <br>
       <div class="container">
       <div class="row row-cols-1 row-cols-md-6 g-4">
           <div class="col">
             <div class="card efeito efeitoCont">
               <img src="img/Loki.jpg" class="card-img-top card-2" alt="...">
             </div>
           </div>
           <div class="col">
             <div class="card efeito efeitoCont">
               <img src="img/Alice_in_Borderland_poster.jpg" class="card-img-top card-2" alt="...">
             </div>
           </div>
           <div class="col">
             <div class="card efeito efeitoCont">
               <img src="img/lúcifer.jpg" class="card-img-top card-2" alt="...">
             </div>
           </div>
           <div class="col">
             <div class="card efeito efeitoCont">
               <img src="img/wednesday-jenna-ortega-gallery-single-0258r2c.jpg" class="card-img-top card-2" alt="...">
             </div>
           </div>
           <div class="col">
               <div class="card efeito efeitoCont">
                 <img src="img/priso.jpg" class="card-img-top card-2" alt="...">
               </div>
             </div>
             <div class="col">
               <div class="card efeito efeitoCont">
                 <img src="img/nikita.jpg" class="card-img-top card-2" alt="...">
               </div>
             </div>
         </div>
         <div class="categoria-1"><a href="/series">Veja mais</a></div>
       </div>
   <br>
  <div class="container">
    <div class="categoria txt-primary"><h2>FILMES</h2></div>
    <br>
    <div class="container">
    <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
          <a href="https://gdplayer.to/embed/?OUEwMHI0Ty9lcWlMQ01od3BiQ1JtdklpMGlEUjZDYThTQ1RiSXJuaU9CcS9Hek1abkpvZFhLRHZJRzZZYXU3RGVjY21Fc1htaFJma0Nxd2dYK3VmVVZrNDJXbGtNSDlOeENhdWpHL3pVL2R4L09aZExVbXk5ekxiQUJkSzUrbGtncVlCZVcwL3ZUZjJoUk4wdS8vSHRBPT0,"><img src="img/vingadores final.jpg" class="card-img-top card-2" alt="..."></a>  
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?TmFrejZYYzlPdlJmdlVUMXNRWHJ3WGtuL1Q0YXlub3I5MDhXK2QrZzJqTEN5QlM0K1ZGUXNybUhjZW5hWUpEZXdud0VPRFZ5OWxVS1FzelNwS0ZSbDFqVk5OMnlxbmVPN0pta25wK0pZdzVFdTBsQzVxbjR1VlRZWmhDVDR6WmlzblAxOXM2NDZzREhSRUgzV1pTOVNBPT0,"><img src="img/vingadores infinita.jpg" class="card-img-top card-2" alt="..."></a> 
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?Nkp4MGVQaFNBMXg5ekY0UzMvQVBjNW9ybStmT1ZyRzFhWVlHL0lKZStDemVqT3A3c3RvYnJ3NXRGZGxLdkNPWXRFbDRWUWVpZDlicXpQeklhZTFKdlRNdC9lUFE5MEx5K1hGUENrSHVLM05yWno1YzNvSFp0cW1HK29NbHBzWVg5S0VKSEpxaUF6OCt1aXZVWmo4bEhBPT0,"><img src="img/Vingadores_-_Era_de_Ultron.png" class="card-img-top card-2" alt="..."></a>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?aXVWL1k2cVlkaDc4MGRBamlJR3kvTG1QTFJRaUlOZFJpMFYwYzMwaWp5aEpBUFByd3p0SWhiNGJPYUozRUIzUEFIRkFJdUdPc2tVRU1pSTloZmduZkJ5L3k0czBzYkN1WTU0YlgvRDV5Z3BndDgrTWtFNXQydktVNnBEYU9LeUVDaWZvcEFMNDE5NEprejdBQWJpOEhnPT0,"><img src="img/capitao america guerra civill.jpg" class="card-img-top card-2" alt="..."></a>
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <a href="https://gdplayer.to/embed/?d2tuMHdvLzBjS3g2UnpxSU5EN3cvcWxsMi8rZVl6b1ZWeFhZaUtLT01tZ1lwZ2lXMTFmM0Q2NW9TZ1M0cXJjRFdhUTBtSU52WE1NL25DcU9JOTVINmRWZTREOXZXdUNydjRocTZiekVOT1BZMG1rOWJxTmNVRndYbmNNbVNXMlhGR0h6VVY3YkRjRTFFUENnZi9TTnVBPT0,"><img src="img/Vingadoresfilme.jpg" class="card-img-top card-2" alt="..."></a>
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <a href="https://gdplayer.to/embed/?UUREd2gzWG02QkJiRHIwL2x1TW9DOXM2VHIxU3N1YVJGTUIxSU9LOXNReEVIckNqNmlMY2YyaTdxVGhQMlRiQjArcnh5UFk0UmxncFV6TmVKUVdzMWFIemxHZk15anBWMGlEeDhYTmxhWUprUXAvdkh6S21NaVZoRkxrN21QSEZmWllyN2w0V3VtcWI4RWpIMDAwTmZnPT0,"><img src="img/Homem_de_Ferro_3.png" class="card-img-top card-2" alt="..."></a>
            </div>
          </div>
      </div>
      
    </div>
    <br>
   
  <div class="container">
  <div class="row row-cols-1 row-cols-md-6 g-4">
      <div class="col">
        <div class="card efeito efeitoCont">
         <a href="https://gdplayer.to/embed/?UUREd2gzWG02QkJiRHIwL2x1TW9DOXM2VHIxU3N1YVJGTUIxSU9LOXNReEVIckNqNmlMY2YyaTdxVGhQMlRiQjArcnh5UFk0UmxncFV6TmVKUVdzMWFIemxHZk15anBWMGlEeDhYTmxhWUprUXAvdkh6S21NaVZoRkxrN21QSEZmWllyN2w0V3VtcWI4RWpIMDAwTmZnPT0,"><img src="img/Homem_de_Ferro_3.png" class="card-img-top card-2" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
         <a href="https://gdplayer.to/embed/?ZlJQZ2s1ZlVwT3Z4WE9nTHdEcTVreVI2TzFPUDR4MG0vdm1ZaDNZdFZtU2NzdDZwWG5FYzRiZjYrdG01dm54OG0xN2ZOclVuWCtjRndHNHpaWHZqQUtxUmY5SjQ0ekV0Q1NGdldHdHJyZ1N0TE5UQndMUC9ERC82dTNTZjBWWStjMGl1R21vNnlNdDdpVTFDdUdROS9BPT0,"><img src="img/homem-de-ferro-2 (1).jpg" class="card-img-top card-2" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <a href="https://gdplayer.to/embed/?Y2pUSXV0b0ZFdDNTM0Z1Q1laNFErTTFsb1RSUkpOc1lPMkNyV05LUXdFMXBHRXpmV3JmNGozUFd5bzVQaDVqbjkvUzcvTkZOR3dxczZzaFYxaDUwUW1LSC9kbysvMkU2dXU4TUZxSVQrU08wOTNlSHI4YmdGV21kNVByRndjNUdhc2ptelJjYlUvNWRlbE9nVTljb1RBPT0,"><img src="img/homem de ferro 1.jpg" class="card-img-top card-2" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <a href="https://gdplayer.to/embed/?VVVDTkFObzJFZzJGTFFyeGF0K09pdWtjQUp6UmJ0NXBFV3U4dCtieldpd2x2Y2puYXNtSFppRmdHdHVuQnpVLzd5MDN6eStqdmdsaGE3ZElGUnhYMlZSZmhDSUM4Z2F2UVBHb3A2Z0FyZXhrbVdzQzVZMmhsS3FzdExQQTZFZFpvaDB4bFN0NnNlL2pjcTFpNVRkSzFRPT0,"><img src="img/Capitão_América_-_O_Soldado_Invernal.png" class="card-img-top card-2" alt="..."></a>
        </div>
      </div>
      <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?WmJUL3loeHBmS2laaVNWZWZxbDZ2TWxmSnZnelJxWDJmbndkcWVzKzRFY3YrcjdaS2NHVlJvdmNpZTc3VGFZckxRcGVNN0dUcFRnbm1JRXROdkptM3hKNXNRQ0NNaHlSVW4vc1pLUFdZUzdVYUJtUk9vbmhxclMvRU5qWjFZVGZ6OFVEcHc4SkVoNjJJV1Z6S1d6ZEZBPT0,"><img src="img/capitao america 1.png" class="card-img-top card-2" alt="..."></a>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?WWlkTlFxSDI3Z01WRzFaT0xDZ3VKMzR2QzlKMHpPQjNWSyt2cm1XOTN3WjRtR1hkbGRIZUNGd3liWitnVGliOHlWbzdaQVpWMyttQnVURHc2a3dYTVgyVFhnSXFIVkE4a2FnbkNmSkNKekdaa0NEMHBLR0dIUzA3WFNxVXhTZzhXY05kdENUWHRTTkdnbmxkbUtsWGFRPT0,"><img src="img/viuva negraa.jpeg" class="card-img-top card-2" alt="..."></a>
          </div>
        </div>
    </div>
  </div>
  <br>

  <div class="container">
  <div class="row row-cols-1 row-cols-md-6 g-4">
      <div class="col">
        <div class="card efeito efeitoCont">
          <a href="https://gdplayer.to/embed/?cDUyQ0NPcUoyenpsVEI0MG9GbTBxQ2lST3RpMklDS1Bqemk3WW5IYllmMUE2dndxZ2NWbVdtSVNvRW1Ia2hlbnlJeTZuZDBzdFhERUhMaTR1TmZDbXl3Zy9LK1ZBMDlXMzBCRGo1T3VITE9ieFJvL0JZeFh6aUllaG1JUFByVUVXdWhwdkoxTWNFMW1SYjgxTTZmR0N3PT0,"><img src="img/spider man 3.jpg" class="card-img-top card-2" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <a href="https://gdplayer.to/embed/?cDFPVE1jdnJaVWlmclNkS2F0TU0vM1Q4b1NkK2tpQ1lCV1gyZXNTYTZQaHR2bWVPU0RQbzVXOE42VTY5M2dxbmxwUE5aM0xTc3UxN1ZQZ092bWdaaVhZbTU1RnEyNXluc3hBQlpoQjB5Q1p3dllSQXNSVlpPWFBqZFp6b2tLVEZEdXJaN3BuRFhGR1dZaEtGcDVnYzV3PT0,"><img src="img/Hmoem aranha 1.jpg" class="card-img-top card-2" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <a href="https://gdplayer.to/embed/?Y25tNHB3bGM2REEyQlRDUnZqR2FJZDFWcjZmcytnKzJ6MVRyMGNIVUg1QitQZGc1T2d2eE5RYmhwNzJNeWRrcU9SeDhjY0hJN2tvM3BCSzVrT3BkNzdNYlhycXhCaDFhdjArNlV3MElFMlQ1M00zK1o3YzBqdyt6MHlRMUo4Zm1ZdWlZTXg0dXdETGJCZ0dTN3JWdXB3PT0,"><img src="img/spider man 1.jpg" class="card-img-top card-2" alt="..."></a>
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <a href="https://gdplayer.to/embed/?cDZIUXk5L1dEMXBHaG9oOVkveDFoendvU1A4SG5wR2pEaUp6ckFpYnpoU1lyUWtEQTh5clRqNkdXMnRLZERreXJoZ2pMWnpFZTc1VllPN1Y0NmtodXhkY1J0Q3cxZDlvVHprSHFkM1RMbjc4TUQxcUZoVjFwSFBYQURLZ1hpWFN5RnMxTVBHbWdHOTNnRE0yTGl1UldBPT0,"><img src="img/O ESPETACULAR HOMEM-ARANHA 1.jpeg" class="card-img-top card-2" alt="..."></a>
        </div>
      </div>
      <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?MkRiTGR2Q04vbWROS1haeGpUWGpWdDVBSzdmUmRnZXlvQ0NyNnJSRWI0dTFqR2FGQmpjbnV4NkJIV3BPdlR4RVlvbFAyTG1rdjZsZ2o3SitmbVVoOWJzY0RJNGIwVC9MbTVsNU05SUJOYjRVdmdPdU8zaWYvdytJaDdxWk5GbWV2S3F6Rk1PeW1ySGg0U1BzYnRnZWNnPT0,"><img src="img/O Espetacular Homem Aranha2.jpg" class="card-img-top card-2" alt="..."></a>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?UWMyckxmNGROUUFwZWF1WSt0cWtUL1NOdXJVS1JyQThYVE9xRzFjaFRjMFB1eFZzUlpTandJUkxRM3dldDYwQkhSV3RNQVpZbThpRTRtUlcvaVRxRUk0SUxYKzJGRjN0MEJOaDIrTUd2N2VOc2lsM1RVUVBjZEVTY3dEd0VINXZTaklGdHJQL1pLN29VS0NFSGZvb0FRPT0,"><img src="img/Spider-Man_No_Way_Home_poster.jpg" class="card-img-top card-2" alt="..."></a>
          </div>
        </div>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?UWMyckxmNGROUUFwZWF1WSt0cWtUL1NOdXJVS1JyQThYVE9xRzFjaFRjMFB1eFZzUlpTandJUkxRM3dldDYwQkhSV3RNQVpZbThpRTRtUlcvaVRxRUk0SUxYKzJGRjN0MEJOaDIrTUd2N2VOc2lsM1RVUVBjZEVTY3dEd0VINXZTaklGdHJQL1pLN29VS0NFSGZvb0FRPT0,"><img src="img/Spider-Man_No_Way_Home_poster.jpg" class="card-img-top card-2" card-2 alt="..."></a>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?OElxa1lZcUNNQlZHMjgvaVVFbEdqbWRNQnVlTHFZK0h2UXkzU2pTQVd0R3RKcktjRUJ1bitwOXJlczhUdVVXSURnaGNFbUxIVUlxMXQ5U1NKQzZKK0h2N1dxS2tldmo1L2RsbHBhVEtaU1VQUysxNWtBRFY3bFoydytUYUx2ZGRJeXkrckIva2hSOHYvWnBrMUE4Nk5RPT0,"><img src="img/Spider-man-far-from-home-poster.jpg" class="card-img-top card-2" alt="..."></a>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?THJHTW5hajRVVlAzOVoxa3BMbDdBNEcxYWV5dUI3OTk1Q0hZd3Mza3J3NzkvMHZGbXhQZTFBQTc3TTJtMHllRkwxT3FuSkdjYkZ6bFIvOTAvc0xlWXNvVkh3NEYvZVMzcEpncVpqUnltdnNtVVJ3Z2xvVGYxYjBqTFRCNFVHSkVmRExmbjJRTjJEeU9Ya0h4cGNaTk93PT0,"><img src="img/Spider-Man_Homecoming.png" class="card-img-top card-2" alt="..."></a>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="https://gdplayer.to/embed/?RU5vcFQzN2NuNGVFUWR5UUZZZllURmNGSnRQNEhJc2lGRjRRbFBsSEVNWnd3VmRITUUyd3NjU3orWUZmYkdLY3RKemtLajQ0UXQvVnZpRFNRamhabHFWeHRlcDlqanl2RTBwZm11NkZYM1MvZXVSbi83dnJOekhlR0RNR0llY3dXZGxMblB3Y2tlelhUN09UaVB6SVNnPT0,"><img src="img/thor amor e trovao.jpeg" class="card-img-top card-2" alt="..."></a>
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <a href="https://gdplayer.to/embed/?UDNKeWFHN0hOQkVuekRrTDdXZnZQTFVKNXBuTG1mSHJrM2pNUjZBQVQzclNwaVE0eFEySXFyZENmbmI0bVg4RG52OXRRbWd5SnlMWHg0ZGV6cDNsSUV6Wit6THN3SGRYdjdxWkNwL1JyS3V2aXhYcGxZTDFKaW9VSmlNYTJ2eGh0K2g3dFlibkRFRmhCbDJnVUpSbmJnPT0,"><img src="img/thor ragnarok.jpg" class="card-img-top card-2" alt="..."></a>
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <a href="https://gdplayer.to/embed/?UllTbHhoVnNTYjMzSXpYZmkxNnlWU0FQczhUYlFUclZSOEIrc2NINWd2aXloaWhtUXBteWFKcUFndTJ6RHVyWkcwTkRLdVR4cjJ2aGNDUnNFeDlra0ZSb3BGOEFKRWhrOHc3ZE9sTHBzRXgyYXBUbEVGVUhmRTdWd1hNSVVqNnZTTStXZW5FZzhSQzdMZXF4K0llekpnPT0,"><img src="img/thor mundo sombrio.jpg" class="card-img-top card-2" alt="..."></a>
            </div>
          </div>
      </div>
    </div>
    <br>

        <div class="container">
            <div class="row row-cols-1 row-cols-md-6 g-4">
                <div class="col">
                  <div class="card efeito efeitoCont">
                    <a href="https://gdplayer.to/embed/?eTZlMGEvYlhMeG04ODR2K0JMbU1ycEpRa080QTNzWk5PVGhmUlZMU2tKQnZVQ0dUZFp6Rkl0emt6U01yMmNiTDc0OVI0NmxYbUN0cSs4bHJ5WTdJd1FiQ0oxRjlha2FhU0Z0TE5SRGk5aXpFWTFjZ3oyakJXNE94c0xxYzJScGJRQ1JSMWlVbG1ORUJ6d0dyb21UcGVnPT0,"><img src="img/Hulk.jpg" class="card-img-top card-2" alt="..."></a>
                  </div>
                </div>
                <div class="col">
                  <div class="card efeito efeitoCont">
                    <a href="https://gdplayer.to/embed/?Z0pTa2NaRjVVREtZL3V1bGhtMTc4SkVxdjc2TmtyMUhoZnc4MW5Fd1BtZ0pWK0FKbXkrdm8zcGYyK0h6NUlVUEZKQnpoQUJpT1UrT3U5enAyZFMyTVFTSnNnd0lpamJRdE8zNWZlT0lBWUZ6cndzTnAxbkF5RVR3bzEzSHZ4MW5VTVVkRXlFOEUrQTdtcEE5dEptcE5RPT0,"><img src="img/Hulk_movie.jpg" class="card-img-top card-2" alt="..."></a>
                  </div>
                </div>
                <div class="col">
                  <div class="card efeito efeitoCont">
                    <a href="https://gdplayer.to/embed/?VFN4T28yQ0duNEhlVzF5dzd2UXZvZitOeEpmbzUxSy9WWm5CUm1zdlpkZWwwSmhqdzNHS1pXMVhCT2pPbnIxY0FIODNucHp3eUFQTElKVVVDTGYxaEVHZG9DUUk5YzFOMUYzR0sremdtN21QdzVhMmFQeUptUm0vRERab2dZWnY5L0c0U0pEcnhjcEpQNzhDM2N6am5RPT0,"><img src="img/capita marvel.jpg" class="card-img-top card-2" alt="..."></a>
                  </div>
                </div>
                <div class="col">
                  <div class="card efeito efeitoCont">
                    <a href="https://gdplayer.to/embed/?aG1Rc0VteHFEZ3Z5cmZMdy9XY21QK1EyWmlvYXBSeTVZRnlBZEdZQXZ5UzcrR0w4TkphYkZPVnhZTmNDMGtML3Bxc21Ia0NFd2NuRlNOamNZMFlNOEN1RTJ1Rml3M3liZEJEOVVhd0hvRUp2VTBjaVBuK3R1M3A2UXduLzFFdjB5YU9GKzVURkxmRnRGNjJQN21qVWxnPT0,"><img src="img/Captain_Marvel_(2018).jpg" class="card-img-top card-2" alt="..."></a>
                  </div>
                </div>
                <div class="col">
                    <div class="card efeito efeitoCont">
                      <img src="img/doutor multiverso.png" class="card-img-top card-2" alt="...">
                    </div>
                  </div>
                  <div class="col">
                    <div class="card efeito efeitoCont">
                      <a href="https://gdplayer.to/embed/?czk0cml1akRHb2hLL3B6WWJhVHArRjYrMzhhR3JnTzFETGRpa1dFaXlwdlc4bTI1RGZpcTRQaUZObkZZMXBPaDM3eC9iQjF2ck5NSWpnbTJmdy9kaEdqVDgxN0w5ZmVVcENONXp5V0RRaUtUK2VKOFBKU2psbU9keFh2ejRRb3VBaWNYVlowajZGOVNSU0FRRm4xbFF3PT0,"><img src="img/doutor estraho.jpg" class="card-img-top card-2" alt="..."></a>
                    </div>
                  </div>
              </div>
            </div>
  </div>
  <br>
      

            
 </div>
 <div class="categoria-1 text-center"><a href="/filmes2">Seguinte</a></div>
 
</div>
</body>
<%- include('partials/footer-1.ejs') %>
<%- include('partials/footer.ejs') %>