<!DOCTYPE html>
<html lang="en">
<%- include('../partials/heade.ejs') %>
<body>
  <div class="principal configD">
    <div class="nome text-center txt-primary">
        <h1>ADAFLIX</h1>
    </div>
    <div class="container">
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/venom_onesheet_1400x2100_rated.png" class="card-img-top card-3" alt="..."> 
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/venom 1.jpg" class="card-img-top card-3" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/Maze runner- cura mortal.jpg" class="card-img-top card-3" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/shazam 2.jpg" class="card-img-top card-3" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/liga da justiça.jpg" class="card-img-top card-3" alt="...">
            </div>
          </div>
      </div>
      
    </div>
    <br>
   
  <div class="container">
  <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/avatar 2.jpg" class="card-img-top card-3" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/avatar 1.jpg" class="card-img-top card-3" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/babilonia.jpg" class="card-img-top card-3" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/bate antes de entrar.jpg" class="card-img-top card-3" alt="...">
        </div>
      </div>
      <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/coringa.png" class="card-img-top card-3" alt="...">
          </div>
        </div>
    </div>
  </div>
  <br>

  <div class="container">
  <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/resident evil 1.webp" class="card-img-top card-3" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/Resident_Evil_2_-_Apocalipse.jpg" class="card-img-top card-3" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/wandinha.jpg" class="card-img-top card-3" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card efeito efeitoCont">
          <img src="img/resident evill 5.jpg" class="card-img-top card-3" alt="...">
        </div>
      </div>
      <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/Resident_Evil_Final_Chapter_2016.jpg" class="card-img-top card-3" alt="...">
          </div>
        </div>
    </div>
  </div>
<br>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/os descendentes 2.jpg" class="card-img-top card-3" alt="..."> 
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/os descendentes.jpg" class="card-img-top card-3" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/olhos famintos 3.jpg" class="card-img-top card-3" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/olhos famintos 2.jpg" class="card-img-top card-3" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/animal.jpg" class="card-img-top card-3" alt="...">
            </div>
          </div>
      </div>
      
    </div>

 </div>
</div>
<br>
<div class="categoria-1 text-center"><a href="/main">Anterior</a>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<a href="/filmes">Seguinte</a></div>
</body>
<br>
<%- include('../partials/footer-1.ejs') %>
<%- include('../partials/footer.ejs') %>